In [3]:
import pandas as pd

In [2]:
emtdf = pd.DataFrame()
print(emtdf)

Empty DataFrame
Columns: []
Index: []

In [4]:
df1 = pd.DataFrame([1,2,3,4,5])
df1

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
type(df1)

pandas.core.frame.DataFrame

In [6]:
ls = [[1,2,3],[2,4,6],[1,5,9]]
ls

[[1, 2, 3], [2, 4, 6], [1, 5, 9]]

In [ ]:
df2 =  pd.DataFrame(ls)

In [ ]:
dict1 = {'id':[11,22,44,55]}

In [ ]:
df3=pd.DataFrame(dict1)

In [5]:
dict2 = {'id':[11,22,44,55],'sn':[12,14,16,32]}

In [6]:
df4=pd.DataFrame(dict2)
df4

   id  sn
0  11  12
1  22  14
2  44  16
3  55  32

In [8]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4}]

In [9]:
df5=pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [10]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df6=pd.DataFrame(ls_dict)
df6

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [13]:
dict_sr = {'id':pd.Series([1,2,3]),'sn':pd.Series([11,22,33])}
df_dict_sr = pd.DataFrame(dict_sr)
df_dict_sr

   id  sn
0   1  11
1   2  22
2   3  33