In [3]:
import pandas as pd
from google.colab import files
csvupload=files.upload()

Saving student_result2 .csv to student_result2  (1).csv

In [5]:
df=pd.read_csv('student_result2  (1).csv')
df

   Student Id  \tclass  \tstudy hrs  \tslp hrs  social mda       date
0        1001     10.0          2.0          6        50.0   1/7/2019
1        1002     10.0          5.0          7         NaN   1/8/2019
2        1003     10.0          6.0          5         NaN   1/9/2019
3        1004      NaN          7.0          6        60.0  1/10/2019
4        1005     11.0          NaN          7         NaN  1/11/2019

In [6]:
df.interpolate()

   Student Id  \tclass  \tstudy hrs  \tslp hrs  social mda       date
0        1001     10.0          2.0          6   50.000000   1/7/2019
1        1002     10.0          5.0          7   53.333333   1/8/2019
2        1003     10.0          6.0          5   56.666667   1/9/2019
3        1004     10.5          7.0          6   60.000000  1/10/2019
4        1005     11.0          7.0          7   60.000000  1/11/2019

In [7]:
df.interpolate(method='linear')

   Student Id  \tclass  \tstudy hrs  \tslp hrs  social mda       date
0        1001     10.0          2.0          6   50.000000   1/7/2019
1        1002     10.0          5.0          7   53.333333   1/8/2019
2        1003     10.0          6.0          5   56.666667   1/9/2019
3        1004     10.5          7.0          6   60.000000  1/10/2019
4        1005     11.0          7.0          7   60.000000  1/11/2019

In [8]:
df.interpolate(method='time')

ValueError: ignored

time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [9]:
type(df.date[0])

str

#so we need to convert date column from str to timesstamp using parse_dates

In [10]:
df=pd.read_csv('student_result2  (1).csv',parse_dates=['date'])
df

   Student Id  \tclass  \tstudy hrs  \tslp hrs  social mda       date
0        1001     10.0          2.0          6        50.0 2019-01-07
1        1002     10.0          5.0          7         NaN 2019-01-08
2        1003     10.0          6.0          5         NaN 2019-01-09
3        1004      NaN          7.0          6        60.0 2019-01-10
4        1005     11.0          NaN          7         NaN 2019-01-11

##now check the datatype

In [11]:
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

#so now it is in timestamp formate . so now we could use method='time' so interpolate method could fill the missingvalues according to timestamp column

In [13]:
df = pd.read_csv('student_result2  (1).csv',parse_dates=['date'],index_col='date')
df

            Student Id  \tclass  \tstudy hrs  \tslp hrs  social mda
date
2019-01-07        1001     10.0          2.0          6        50.0
2019-01-08        1002     10.0          5.0          7         NaN
2019-01-09        1003     10.0          6.0          5         NaN
2019-01-10        1004      NaN          7.0          6        60.0
2019-01-11        1005     11.0          NaN          7         NaN

In [14]:
df.interpolate(method='time')

            Student Id  \tclass  \tstudy hrs  \tslp hrs  social mda
date
2019-01-07        1001     10.0          2.0          6   50.000000
2019-01-08        1002     10.0          5.0          7   53.333333
2019-01-09        1003     10.0          6.0          5   56.666667
2019-01-10        1004     10.5          7.0          6   60.000000
2019-01-11        1005     11.0          7.0          7   60.000000

In [15]:
df.interpolate(method='linear')

            Student Id  \tclass  \tstudy hrs  \tslp hrs  social mda
date
2019-01-07        1001     10.0          2.0          6   50.000000
2019-01-08        1002     10.0          5.0          7   53.333333
2019-01-09        1003     10.0          6.0          5   56.666667
2019-01-10        1004     10.5          7.0          6   60.000000
2019-01-11        1005     11.0          7.0          7   60.000000

In [16]:
df.interpolate(method='index')

            Student Id  \tclass  \tstudy hrs  \tslp hrs  social mda
date
2019-01-07        1001     10.0          2.0          6   50.000000
2019-01-08        1002     10.0          5.0          7   53.333333
2019-01-09        1003     10.0          6.0          5   56.666667
2019-01-10        1004     10.5          7.0          6   60.000000
2019-01-11        1005     11.0          7.0          7   60.000000

In [31]:
csvupload=files.upload()

Saving student_result2 .csv to student_result2  (3).csv

In [32]:
df = pd.read_csv('student_result2  (3).csv',parse_dates=['date'],index_col='class')
df

       Student Id  \tstudy hrs  \tslp hrs  social mda       date
class
10           1001          2.0          6        50.0 2019-01-07
10           1002          5.0          7         NaN 2019-01-08
10           1003          6.0          5         NaN 2019-01-09
11           1004          7.0          6        60.0 2019-01-10
11           1005          NaN          7         NaN 2019-01-11

In [33]:
df.interpolate(method='index')
#fill according to the index column

       Student Id  \tstudy hrs  \tslp hrs  social mda       date
class
10           1001          2.0          6        50.0 2019-01-07
10           1002          5.0          7        50.0 2019-01-08
10           1003          6.0          5        50.0 2019-01-09
11           1004          7.0          6        60.0 2019-01-10
11           1005          7.0          7        60.0 2019-01-11

In [34]:
df.interpolate(method='nearest')
#fill according to nearest upper value

       Student Id  \tstudy hrs  \tslp hrs  social mda       date
class
10           1001          2.0          6        50.0 2019-01-07
10           1002          5.0          7        50.0 2019-01-08
10           1003          6.0          5        50.0 2019-01-09
11           1004          7.0          6        60.0 2019-01-10
11           1005          7.0          7        60.0 2019-01-11

In [35]:
df = pd.read_csv('student_result2  (3).csv',parse_dates=['date'],index_col='date')
df

            Student Id  class  \tstudy hrs  \tslp hrs  social mda
date
2019-01-07        1001     10          2.0          6        50.0
2019-01-08        1002     10          5.0          7         NaN
2019-01-09        1003     10          6.0          5         NaN
2019-01-10        1004     11          7.0          6        60.0
2019-01-11        1005     11          NaN          7         NaN

In [39]:
df.interpolate(method='polynomial',order=2)
#fill missing values by polinomial

ValueError: ignored

In [40]:
df.interpolate(method='spline',order=2)

error: ignored